

.homebanner {
    font-family: 'Open Sans', sans-serif;
    color: #673ab7;
    text-decoration: none;
    text-transform: capitalize;
    text-align: center;
    font-size: 75px;
    font-weight: 800;
    letter-spacing: -3px;
    line-height: 1;
    
    position: relative;
    margin-top: 20%;
    }

    
  .hero{
    background-size: cover;
    background-position: center center;
  }

  .example-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  
  

  