

.homebanner {
    font-family: 'Open Sans', sans-serif;
    color: rgb(192, 43, 43);
    text-decoration: none;
    text-transform: capitalize;
    text-align: center;
    font-size: 75px;
    font-weight: 800;
    letter-spacing: -3px;
    line-height: 1;
    text-shadow: #EDEDED 3px 2px 0;
    position: relative;
    margin-top: 20%;
    }

    
  