.card-wrapper {
    max-width: 400px;
    transition: transform .2s;
}

 .card-wrapper:hover {
     transform: scale(1.05);
 }
.example-large-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px;
    padding: 16px;
    border-radius: 8px;
  }
  
  .example-large-box {
    height: 300px;
    width: 300px;
  }
  