<div class="content-wrap" igxLayout>
        <igx-nav-drawer id="navigation" [isOpen]="drawerState.open" [(pin)]="drawerState.pin">
                <ng-template igxDrawer>
                        <nav>
                                <span igxDrawerItem [isHeader]="true">Components</span>

                                <span *ngFor="let item of navItems" igxDrawerItem [active]="item.text === selected" igxRipple (click)="navigate(item)">
                                        <igx-icon fontSet="material">{{ item.name }}</igx-icon>
                                        <span>{{ item.text }}</span>
                                </span>
                        </nav>
                </ng-template>

                <ng-template igxDrawerMini *ngIf="drawerState.miniTemplate">
                        <nav>
                                <span *ngFor="let item of navItems" igxDrawerItem [active]="item.text === selected" igxRipple (click)="navigate(item)">
                                        <igx-icon fontSet="material">{{ item.name }}</igx-icon>
                                </span>
                        </nav>

                </ng-template>

        </igx-nav-drawer>
        <main igxFlex [class.mini-padding]="!drawerState.pin && drawerState.miniTemplate">

                <mat-toolbar color="primary">
                        <span class="gap">
                                <span igxButton="icon" igxToggleAction="navigation" style="color: white">
                                        <igx-icon fontSet="material" >menu</igx-icon>
                                </span>
                                <!-- <button mat-icon-button>
                                        <mat-icon>menu</mat-icon>
                                </button> &nbsp; -->
                                &nbsp;  <a routerLink="" style="color: white">SPIVA</a>
                        </span>

                        <span class="filler"></span>
                        <div *ngIf="!loginStatus; else logout;">
                                <button mat-raised-button (click)="openBottomSheet()">LogIn</button>&nbsp;&nbsp;
                                <button mat-raised-button (click)="openBottomSheet()">Signup</button>&nbsp;&nbsp;
                        </div>
                        <ng-template #logout>
                                <button mat-raised-button (click)="onLogOut()">Logout</button>&nbsp;&nbsp;
                        </ng-template>
                </mat-toolbar>

                <router-outlet></router-outlet>
                <app-footer></app-footer>
        </main>
</div>





<!-- <mat-toolbar color="primary" class="fixed-header">
        <span class="gap">
                <button mat-icon-button>
                        <mat-icon>menu</mat-icon>
                </button> &nbsp;
                <a routerLink="" style="color: white">SPIVA</a>
        </span>

        <span class="filler"></span>
        <div *ngIf="!loginStatus; else logout;">
                <button mat-raised-button (click)="openBottomSheet()">LogIn</button>&nbsp;&nbsp;
                <button mat-raised-button (click)="openBottomSheet()">Signup</button>&nbsp;&nbsp;
        </div>
        <ng-template #logout>
                <button mat-raised-button (click)="onLogOut()">Logout</button>&nbsp;&nbsp;
        </ng-template>
</mat-toolbar> -->