<br>
<br>
<br>
<br>
<br>

<div class="container">
    <button mat-button (click)="dialogAdd.open()" style="background-color: #673ab7;color:white">Add New Employee</button>
    <br>
    <br>
    <igx-grid #gridRowEdit [data]="employee" [primaryKey]="'id'" width="100%" height="600px" [rowEditable]="true" [showToolbar]="true"
        [exportExcel]="true" [exportCsv]="true" [columnHiding]="true" [columnPinning]="true" exportText="Export" exportExcelText="Export to Excel"
        exportCsvText="Export to CSV">
        <igx-column field="id" header="ID" [editable]=false></igx-column>
        <igx-column field="firstName" header="Employee Name"></igx-column>
        <igx-column field="department" header="Department" dataType="string">
                <ng-template igxCellEditor let-cell="cell">
                        <igx-input-group>
                            <input igxInput [igxFocus]='true' name="units" [(ngModel)]="cell.editValue" style="color: black" />
                        </igx-input-group>
                    </ng-template>
        </igx-column>
        <!--<igx-column field="ProductName" header="ProductName" dataType="string"></igx-column>
            <igx-column field="ProductName" header="ProductName" [dataType]="'string'"></igx-column>
            <igx-column field="UnitsInStock" header="UnitsInStock" dataType="number">
                
                <ng-template igxCellEditor let-cell="cell">
                    <igx-input-group>
                        <input igxInput [igxFocus]='true' name="units" [(ngModel)]="cell.editValue" style="color: black" />
                    </igx-input-group>
                </ng-template>
            </igx-column> -->
        <!-- <igx-column field="OrderDate" [dataType]="'date'"></igx-column> -->
        <!-- <igx-column field="Discontinued" header="Discontinued" [dataType]="'boolean'"></igx-column> -->
        <igx-column width="100px" [filterable]="false">
                <ng-template igxCell let-cell="cell">
                    <button igxButton="icon" (click)="removeRow(cell.cellID.rowIndex)">
                        <igx-icon>delete</igx-icon>
                    </button>
                </ng-template>
            </igx-column>
    </igx-grid>
    <br>
    <button mat-button (click)="onSave()" style="background-color: #673ab7;color:white" class="float-right">Save</button>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<igx-dialog #dialogAdd title="New Employee" [rightButtonLabel]="'Add'" [leftButtonLabel]="'Cancel'" (onLeftButtonSelect)="cancel()"
    (onRightButtonSelect)="addRow()">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <mat-form-field>
                    <input matInput placeholder="Employee name" value="" [(ngModel)]="newEmployee.firstName">
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <mat-form-field>
                    <input matInput placeholder=Department value="" [(ngModel)]="newEmployee.department">
                </mat-form-field>
            </div>
        </div>
    </div>

</igx-dialog>